<% include ../header.ejs %>
    <% include ./sidebar.ejs %>
     
        <div class="container col-sm-10">
            <div>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="/promotion/sendcode">코드발급</a></li>
                    <li><a href="/promotion/lookupcode">코드조회</a></li>
                </ul>
            </div></br>

            <div class="form-group">
            <h2>회원 ID(email) 검색</h2>
                <!-- 자동완성 회원검색 -->
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" id="autocomplete">
                    <div class="input-group-btn">
                        <button class="btn btn-default" id="searchBt" type="text"><i class="glyphicon glyphicon-search"></i> </button>
                    </div>
                </div>

                <!-- 자동완성 검색결과 -->
                <div id="autoView" style="with: 100%;"></div></br>

                <!-- 검색결과 클릭시 LIST Table -->
                <div id="list">
                    <h2 style="overflow: hidden;">검색 결과</h2> 
                    <label style="float: right;">체크 수 :<span id="CountNum"></span></label></br></br>
                    <div id="table" style="float: none; with:100%;"></div></br></br>
                </div>

               

                <div id="Btdiv">
                    <button type="button" class="btn btn-primary" id="checkCreateBt">선택회원 코드발급</button>
                    <button class="btn btn-primary" id="UnspecifiedCreateBt" data-toggle="modal" data-target="#myModal">불특정회원 코드발급</button>
                </div>
            </div>
        </div>


<!-- Modal -->
<!-- Event type 선택 부분 추가-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
    <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">

            <!--header-->
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Promotion Code 발급</h4>
            </div>

            <!-- form -->
            <!-- body -->
            <form>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Select EventType:</label>
                        <select class="form-control" id="mystuff">
                            <option value="0">Choose One</option>
                            <option value="cybermoney">cybermoney</option>
                            <option value="opt2" style="background-color:#cacaca;" disabled>미정</option>
                            <option value="opt3" style="background-color:#cacaca;" disabled>미정</option>
                            <option value="opt4" style="background-color:#cacaca;" disabled>미정</option>
                        </select>
                    </div>
                    

                    <!-- collapse 구역 -->
                    <div class="mystaff_hide mystaff_cybermoney">
                        <hr>
                        <div class="col-sm-4 col-xs-12">
                            <div class="panel" style="text-align:center; background-color:#1e5b99; color:white;" >
                                <div class="radio">
                                    <label><input type="radio" name="optradio" value="1000" checked="checked"> 1000Point </label>
                                </div>
                            </div>    
                        </div>

                        <div class="col-sm-4 col-xs-12">
                            <div class="panel" style="text-align:center; background-color:#1e5b99; color:white;" >
                                <div class="radio">
                                    <label><input type="radio" name="optradio" value="2000"> 2000Point </label>
                                </div>
                            </div>    
                        </div>     

                        <div class="col-sm-4 col-xs-12">
                            <div class="panel" style="text-align:center; background-color:#1e5b99; color:white;" >
                                <div class="radio">
                                    <label><input type="radio" name="optradio" value="3000"> 3000Point</label>
                                </div>
                            </div>    
                        </div>     

                        <div class="col-sm-4 col-xs-12">
                            <div class="panel" style="text-align:center; background-color:#1e5b99; color:white;" >
                                <div class="radio">
                                    <label><input type="radio" name="optradio" value="4000"> 4000Point </label>
                                </div>
                            </div>    
                        </div>     

                        <div class="col-sm-4 col-xs-12">
                            <div class="panel" style="text-align:center; background-color:#1e5b99; color:white;" >
                                <div class="radio">
                                    <label><input type="radio" name="optradio" value="5000"> 5000Point </label>
                                </div>
                            </div>    
                        </div>     

                        <div class="col-sm-4 col-xs-12">
                            <div class="panel" style="text-align:center; background-color:#1e5b99; color:white;" >
                                <div class="radio">
                                    <label><input type="radio" name="optradio" value="6000"> 6000Point </label>
                                </div>
                            </div>    
                        </div>
                    </div>

                    <div class="mystaff_hide mystaff_opt2">
                        mystaff_opt_2 이벤트 구역
                    </div>
                    <div class="mystaff_hide mystaff_opt3">
                        mystaff_opt_3 이벤트 구역
                    </div>
                    <div class="mystaff_hide mystaff_opt4">
                        mystaff_opt_2 이벤트 구역
                    </div>
                    



                    <!-- 코드사용 최종 인원 기입 -->
                    <div><hr>
                    <label>코드사용 최대 인원 :<input type="text" id="codemaxNum"/> </label> 
                    </div>
                </div>

                <!-- footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="SubmitBt">발급하기</button>
                </div>
            </form>
        </div>
      
    </div>
</div>



<script>
    $(document).ready(function(){

        // ★ session에서 user 정보가 사라졌을 시 재접근 불가능하게.
        // console.log(userData);
        // if(typeof(userData) =='undefined' || userData.authority ==false){
        //     alert('관리자회원으로 다시 로그인 해주세요');
        //     location.href="/";

        // } else{}


        // 1. 자동완성 이벤트
        $("#autocomplete").on('keyup',function(){
            var searchdata = $(this).val();
            if(searchdata == 0){
                $("#autoView").html("");
                return;
            }
            // 자동완성 키워드로 DB조회
            $.ajax({
                url : '/promotion/searchAjax',
                type : 'GET',
                data : {searchdata : searchdata}
            }).done(autocompleteFunction); // 1-1
        });

        // 1-1. 자동완성 및 자동완성 결과 클릭시.
        var autocompleteFunction = function(args){
            $("#autoView").html(args);

            $(".searchDetail").on('click',function(){
                $("#CountNum").html('0'); // 체크 수 초기화
                var userid = $(this).text();
            // 1-2. 자동완성 검색결과 
                $.ajax({
                    url : '/promotion/searchDetailAjax',
                    type : 'GET',
                    data : {userid: userid }
                }).done(createcodeFunction); // 1-2
            });
        }

        //////////////////////////////////////////////////////////////////////////////////////


        // 2. 돋보기 버튼을 이용한 검색결과 가져오기 (일치하는 결과 전체조회)
        $("#searchBt").click(function(){
            var searchData = $("#autocomplete").val();
            // 검색창에 입력한 키워드로 DB조회
            $.ajax({
                url : '/promotion/searchDetailAjax',
                type : 'GET',
                data : {userid :searchData }
            }).done(createcodeFunction); // 2-1
        });



        //////////////////////////////////////////////////////////////////////////////////////


        // 3. 불특정 회원 코드발급시 (1명도 포함)
        $('#UnspecifiedCreateBt').click(function(){
              $('#myModal').on('show.bs.modal', ModalEvent);
        });

        //////////////////////////////////////////////////////////////////////////////////////

        // 개별발급 버튼 / 체크박스 + 선택회원 버튼
    
        // 1-2, 2-1. 검색결과 Table안에 넣어 가져오기 및 코드 개별발급
        // 여기서부터는 tableAjax.ejs 결과 이벤트 처리 (tableAjax.ejs를 #table에 innerhtml)

        var button; //modal이벤트에서 사용
        var checkboxNum=0; // 체크된 체크박스 숫자
        var userid= "";   // 체크박스 통해 코드발급시 user들 id그룹화
        var eventType ={};  // 적용되는 이벤트 타입

        var createcodeFunction = function(args){

            $("#table").html(args); 

            // 2-2. checkbox 선택시 <span>tag 체크수 올리기. // 이 이벤트 함수 안에서만 작동..
            $("#CountNum").html('0'); // 체크 수 초기화
            $('input[type="checkbox"]').click(function(){   // 체크박스 체크 된 갯수 담기
                checkboxNum = $('input[type="checkbox"]:checked').length;
                $("#CountNum").html(checkboxNum);
            });

            // 2-3.개별발급 버튼
            $('#CodeBt').click(function(){
                $('#myModal').on('show.bs.modal', ModalEvent);
            });

            // 2-4 체크박스 + 선택회원 버튼 [mondal event]
            $("#checkCreateBt").click(function(){
                // data-toggle="modal" data-target="#myModal"
                if(checkboxNum == 0){
                    alert('인원을 선택해 주세요');
                    $('#checkCreateBt').removeAttr("data-toggle");
                    $('#checkCreateBt').removeAttr("data-target");
                }else{
                    $('#checkCreateBt').attr("data-toggle","modal");
                    $('#checkCreateBt').attr("data-target","#myModal");
                    $('#myModal').on('show.bs.modal',ModalEvent);
                }
            });
        }


        var ModalEvent = function(event){ 
            console.log(checkboxNum,userid);
            if( checkboxNum >= 1 ){  // 체크박스를 한명이라도 했을경우 까지 포함
                $('input[type="checkbox"]:checked').each(function(){ 
                    userid += "," + ( $(this).val() );
                });
                $('#codemaxNum').val(checkboxNum);
                $('#codemaxNum').attr("readonly",true);
                $('#codemaxNum').css('background-color','#cacaca');
                console.log(userid);

            }else if(checkboxNum =='0' && userid == "") {  
                 $('#codemaxNum').attr("placeholder",'발급 최대인원을 기입해주세요');
                 userid = undefined;
            }else { // code 개별발급시 checkboxNum=0
                button = $(event.relatedTarget);
                userid = button.data('whatever');   
                checkboxNum = 1;
                console.log(checkboxNum , userid);
                $('#codemaxNum').val(checkboxNum);
                $('#codemaxNum').attr("readonly",true);
                $('#codemaxNum').css('background-color','#cacaca');
            }

            // addvcollapse
            $('.mystaff_hide').addClass('collapse');   // mystaff_hide영역을 collapse에 넣어준다
            
            
            // ★ 추가 이벤트 타입 결정
            $('#mystuff').change(function(){   //select tag선택시 collapse show
                eventType.eventName = $(this).val(); //eventType 객체에 property 추가
                var selector = '.mystaff_'+ eventType.eventName;

                // collapse open event
                if(selector =='.mystaff_0'){
                    $('.mystaff_hide').collapse('hide');
                }else{
                    $(selector).collapse('show');
                }
                
                // 이벤트 유형에 따른 데이터 저장
                if(eventType.eventName == 'cybermoney'){    // 이벤트 유형이 cybermoney일 경우
                    eventType.chargeCybermoney = $(':input:radio[name=optradio]:checked').val();
                }// else if(event 추가시 add)
            }); 
            
           
            // modal안의 SubmitBt 클릭시
            $("#SubmitBt").click(function(){
                checkboxNum =  $('#codemaxNum').val();
                // 값이 자료형에 상관없이 빈 값인지 알고 싶을때
                if( eventType == undefined || ( eventType != null && typeof eventType == "object" && !Object.keys(eventType).length ) || eventType.eventName == '0'){
                    alert('이벤트 유형을 선택해 주세요.');
                }else{
                    $.ajax({
                    url : '/promotion/createcode_Ajax',
                    type : 'GET',
                    // ★ 시작 보내는 데이터 수정
                    data : { userid : userid, maxnum : checkboxNum , eventType : eventType}
                    }).done(renderpageFunction); //1-3
                }
            });
        }



        // 1-3. 프로모션코드 생성 후 페이지 render
        var renderpageFunction = function(args){
            //console.log(args.message);
            alert(args.message);
        }
        


        //////////////////////////////////////////////////////////////////////////////////////



       

    });
</script>
<% include ../footer.ejs %>