<div class="col-sm-2">
    <div class="panel panel-default">
        <div class="panel-heading">메뉴</div>
        <div class="panel-body">
            <ul>
                <li><a href="/admin/adminCompanyQuoteState">기업견적문의 현황</a></li>
                <li><a href="/admin/memberCheck">회원조회</a></li>
                <li><a href="/admin/withdrawMemberManage">휴면회원관리</a></li>
                <li><a href="/admin/statistics">통계</a></li>
                <li><a href="/promotion/sendcode">프로모션 코드</a></li>
            </ul>
        </div>
    </div>
</div>