.btn-primary.active,
.btn-primary:active,
.btn-xl.active,.btn-xl:active,
.open .dropdown-toggle.btn-primary,
.open .dropdown-toggle.btn-xl{
    background-image:none;
}


.btn-primary,
.btn-xl,h1,h2,h3,h4,h5,h6{
    /* font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif; */
    font-family:source-han-sans-japanese,Montserrat,"Helvetica Neue",Helvetica,Arial;
    text-transform:uppercase;
    /* font-weight:700; */
    font-weight:300;
}
.text-muted{color:#777}
.text-primary,a{color:#fed136}
p{font-size:14px;line-height:1.75}
p.large{font-size:16px}
a,a.active,a:active,a:focus,a:hover{outline:0}
a.active,a:active,a:focus,a:hover{color:#fec503}
.img-centered{margin:0 auto}
.bg-light-gray{background-color:#eee}
.bg-darkest-gray{background-color:#222}
.btn-primary{color:#fff;background-color:#fed136;border-color:#fed136}

.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open .dropdown-toggle.btn-primary{
    color:#fff;
    background-color:#fec503;
    border-color:#f6bf01;
}



.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover{
    background-color:#fed136;
    border-color:#fed136;
}

.btn-primary .badge{
    color:#fed136;
    background-color:#fff;
}

.btn-xl2{
    color:#fff;
    font-size:18px;
    padding:20px 40px;
    position: relative;
    top: 220px;
}
.btn-xl2 img{
    width: 110%;
}


.btn-xl{
    color:#fff;
    background-color:#fed136;
    border-color:#fed136;
    border-radius:3px;
    font-size:18px;
    padding:20px 40px;
}

.btn-xl.active,
.btn-xl:active,
.btn-xl:focus,
.btn-xl:hover,
.open .dropdown-toggle.btn-xl{
    color:#fff;
    background-color:#fec503;
    border-color:#f6bf01
}

.btn-xl.disabled,
.btn-xl.disabled.active,
.btn-xl.disabled:active,
.btn-xl.disabled:focus,
.btn-xl.disabled:hover,
.btn-xl[disabled],
.btn-xl[disabled].active,
.btn-xl[disabled]:active,
.btn-xl[disabled]:focus,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl,
fieldset[disabled] .btn-xl.active,fieldset[disabled] .btn-xl:active,
fieldset[disabled] .btn-xl:focus,
fieldset[disabled] .btn-xl:hover{
    background-color:#fed136;
    border-color:#fed136;
}

.btn-xl .badge{
    color:#fed136; background-color:#fff;
}


/* ========================= 초기화 ========================= */

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    height: 100%;
}


/* ========================= body ========================= */
body{
    overflow-x:hidden;
    /* font-family: sans-serif,Montserrat, "Helvetica Neue", Helvetica, Arial; */
    font-family: source-han-sans-japanese,sans-serif,Montserrat, "Helvetica Neue", Helvetica, Arial;
    -webkit-tap-highlight-color: #fed136;
    width: 100%;
    height :100%;
    margin: 0px;
    padding: 0px;
}



/* ========================= wrap ========================= */
.wrap {
    min-height: 100%;
    position: relative;
    padding-bottom: 150px; 
    /* footer height */
}

@media (max-width :768px) and (max-device-width: 480px){
    .wrap {
        padding-bottom: 0px; 
    }
}

/* ========================= navbar ========================= */

.navbar-custom{
    margin-bottom: 0;
    background-color:black; 
    border-color:transparent;
    display:block;
    margin-bottom :80px; 
    /* position: relative; */
}
.navbar-header .navbar-brand{
    color:#fed136;
     /* font-family: sans-serif,Montserrat, "Helvetica Neue", Helvetica, Arial; */
     font-family: source-han-sans-japanese,sans-serif,Montserrat, "Helvetica Neue", Helvetica, Arial;
    height: 50px;
}
.navbar-custom .navbar-brand .logoid{
    position: absolute;
    top: 10px;
}

.navbar-custom .navbar-brand.active,.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:hover{
    color:#fec503;
}

.navbar-custom .nav li a{
     /* font-family: sans-serif,Montserrat, "Helvetica Neue", Helvetica, Arial; */
     font-family: source-han-sans-japanese,sans-serif,Montserrat, "Helvetica Neue", Helvetica, Arial;
    color:#fff;
    text-transform:uppercase; 
}




.navbar-custom .navbar-collapse{
    border-color:rgba(255,255,255,.02);  
}
.navbar-custom .navbar-toggle{
    background-color:#fed136;
    border-color:#fed136;
    font-size:12px;
}

.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:hover{
    background-color:#fed136;
}
.navbar-custom .nav li a{
    /* font-weight:400;  */
    font-weight:300; 
    letter-spacing:1px;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:hover{
    color:#fed136;
    outline:0;
}

.navbar-custom .navbar-nav>.active>a{
    border-radius:0;
    color:#fff;
    background-color:#fed136;
}

.navbar-custom .navbar-nav>.active>a:focus,
.navbar-custom .navbar-nav>.active>a:hover{
    color:#fff;
    background-color:#fec503;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
     /* font-family: sans-serif,Montserrat, "Helvetica Neue", Helvetica, Arial; */
     font-family: source-han-sans-japanese,sans-serif,Montserrat, "Helvetica Neue", Helvetica, Arial;
    font-weight: 800;
    font-weight: 300;
}
.open .dropdown-toggle {
    color: #fec503 !important;
    background-color: black !important;
}
.open .dropdown-menu {
    color: #fec503 !important;
    background-color: black !important;
}
.dropdown-menu li a {
    color: #fff !important;    
}
.dropdown-menu li a:hover {
    background-color: #fec503 !important;
}

@media only screen and (max-device-width: 480px) {

    .navbar-header{
        width: 100%;
    }
    .navbar-toggle{
        margin-right:0px;
    }
    
}

@media (min-width:768px){

    .navbar-custom{
        background-color:black;
        -webkit-transition:padding .3s;
        -moz-transition:padding .3s;
        transition:padding .3s;
        border:none;
    }
    
    .navbar-custom .navbar-brand{
        font-size:2em;
        -webkit-transition:all .3s;
        -moz-transition:all .3s;
        transition:all .3s;
        padding: 15px;
    }
    
}







/* ========================= section ========================= */
section#login.bg-on,
section#join.bg-on,
section#findpassword.bg-on,
section#resendEmail.bg-on{
    background-image:url(/public/img/header-bg2-1.png);
    opacity: 1;
   
}

section#joinsuccess.bg-on{
    background-image : url(/public/img/joinsuccess_bg.png);
    opacity : 1;
}
section#notFound.bg-on{
    background-image:url(/public/img/404/404.png);
    opacity: 1;
}
section#login, 
section#join, 
section#findpassword, 
section#notFound, 
section#joinsuccess,
section#resendEmail {
    width: 100%;
    height: 100%;
    background-color : #222; 
    background-size:cover;
    background-position: center center;
    position: fixed;
    z-index: -1;
    transition: opacity .5s ;
}



/* ========================= loginpage ========================= */
#login_page{
    height: 100%;
    /* padding-top :100px; */
     /* font-family: sans-serif,Montserrat, "Helvetica Neue", Helvetica, Arial; */
     font-family: source-han-sans-japanese,sans-serif,Montserrat, "Helvetica Neue", Helvetica, Arial;
    text-align: center;
}

.login-panel{
    /* margin-top: 100px; */
    box-shadow: 0px 0px 30px #000000;
    -webkit-box-shaodw : 0px 0px 30px #000000;
    background-color : #ffffff;
    max-width: 341px;
    margin: auto; 
}
.login-panel .input-group{
   margin-bottom: -1px;
}
.login-panel #idSaveCheck{
    float: left;
}
.login-panel #idSaveCheck label{
    text-align: left;
    color: black;
}
.login-panel a{
    color: black;
    text-align: center;
}


.test{
    background-color: rgb(247, 246, 246);
    position: relative;
}
.login-panel .test-heading{
    width : 100%;
}

.login-panel .test-heading .logo{
    margin: 20px auto; 
}

.test .form-inputs {
    padding : 20px;
}

.test .form-inputs input[type="text"],
.test .form-inputs input[type="password"]{
    height: 50px;
    border-radius: 0px;
}
#resend{
    text-decoration : none;
}
.test .form-inputs .loginbutton{
    background-color : #2793d1;
    color: #fff;
    /* font-weight: bold; */
    font-weight: 400;
    border-radius: 0px;
}

.test .form-inputs a{                                                                                                              
    color: #2793d1;
    /* font-weight: bold; */
    font-weight: 500;
    font-size : 1.1em;
}
.test label{                                                                                                              
    font-weight: 400;
}
.saveid {
    margin-left: 8px;
}

.joinwithpass div{
    margin-top : 50px;
    padding-top : 15px;
    border-top: solid 1px #e2e2e2;
}


/* login-panel mobile size */
@media (max-width :768px) and (max-device-width: 480px){
    .login-panel{
        max-width: 280px;
    }
    .saveid {
        margin-left: 8px;
        margin-bottom: 30px;
    }
    .joinwithpass div{
        margin-top : 0px;
        padding : 15px;
        /* padding-left: 10px; */
        /* padding-right: 10px; */
        border-top: solid 1px #e2e2e2;
        display: inline;
    }
    
}




/* ========================= join page ========================= */
#join_page{
    height: 100%;
    /* padding-top :100px; */
     /* font-family: sans-serif,Montserrat, "Helvetica Neue", Helvetica, Arial; */
    font-family: source-han-sans-japanese,sans-serif,Montserrat, "Helvetica Neue", Helvetica, Arial;
    text-align: center;
}
#join_page input[type=submit]{
    background-color : #2793d1;
    color: #fff;
    /* font-weight: bold; */
    font-weight: 300;
    border-radius: 0px;
    border-color : #2793d1;
}
#join_page .panel-body .form-group{
    margin-bottom: -1px;
    position: relative;
}
#join_page .panel-body .form-group input{
    padding-left: 40px !important;
    height: 50px;
    border-radius: 0px;
    background-position: 7px 7px;
    background-repeat: no-repeat;
}
#join_page .panel-body .form-group .icon i{
    color: #2793d1;
    /* font-size: 20px; */
    position: absolute;
    left: 10px;
    top: 17px;
    z-index: 10;
}
#join_page .panel-body #emailMessage_2{
    font-weight: 400;
    color : #1440a0;
}



/* ========================= findpassword page========================= */

#findpassword_page{
    height: 100%;
    /* padding-top :100px; */
     /* font-family: sans-serif,Montserrat, "Helvetica Neue", Helvetica, Arial; */
     font-family: source-han-sans-japanese,sans-serif,Montserrat, "Helvetica Neue", Helvetica, Arial;
    text-align: center;
}
#findpassword_page input::-webkit-input-placeholder{
    font-size : 10px;
}

#findpassword_page input[type=button]{
    background-color : #2793d1;
    color: #fff;
    /* font-weight: bold; */
    font-weight: 400;
    border-radius: 0px;
    border-color : #2793d1;
}



/* ========================= resendEmail page ========================= */
#resendEmail_page{
    height: 100%;
    /* padding-top :100px; */
     /* font-family: sans-serif,Montserrat, "Helvetica Neue", Helvetica, Arial; */
     font-family: source-han-sans-japanese,sans-serif,Montserrat, "Helvetica Neue", Helvetica, Arial;
    text-align: center;
}
#resendEmail_page input[type=button]{
    background-color : #2793d1;
    color: #fff;
    /* font-weight: bold; */
    font-weight: 400;
    border-radius: 0px;
    border-color : #2793d1;
    margin-top : 30px;
}
#resendEmail_page .panel-body .form-group{
    margin-top : 30px;
    margin-bottom : 30px;
    position: relative;
}
#resendEmail_page .panel-body .form-group input{
    padding-left: 40px !important;
    height: 50px;
    border-radius: 0px;
    background-position: 7px 7px;
    background-repeat: no-repeat;
}
#resendEmail_page .panel-body .form-group .icon i{
    color: #6f6f6f;
    /* font-size: 20px; */
    position: absolute;
    left: 10px;
    top: 17px;
    z-index: 10;
}
#resendEmail_page #message{
    color : #2793d1;
}







/* ========================= mypage ========================= */
/* === mypageNav-Header === */
.mypageNavbar-header{
    height: 140px;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    border-bottom : solid #dcdcdd 1px;
    background: #ffffff;
    margin-top : -80px;
     /* font-family: sans-serif,Montserrat, "Helvetica Neue", Helvetica, Arial; */
     font-family: source-han-sans-japanese,sans-serif,Montserrat, "Helvetica Neue", Helvetica, Arial;
}
   /* .header__logo{
 right: 50px;
    height: 150px;
    position: absolute;
    right: -45px;
    bottom: -24px; 
}*/
.header__paragraph {
    position: absolute;
    left: 18px;
    bottom: 12px;
}
.header__paragraph-1 {
    display: inline-block;
}
.header__label-my {
    font-size: 36px;
    color: #4379e8;
    margin-right: 10px;
}
.header__label-ide {
    font-size: 36px;
    color: #383c40;
}
.header__paragraph-2 {
    display: inline-block;
    margin-left: 12px;
}
.header__divider {
    display: inline-block;
    width: 2px;
    height: 18px;
    background-color: #bdbdbd;
    margin-bottom: -1px;
    margin-right: 10px;
}
.header__label-usage {
    font-size: 19.5px;
    color: #333333;
}

/* === mypageNav === */
/* worckspace page같이 사용. */
.mypageNav{
    /* border-top :solid 1px #dcdcdd; */
    border-bottom :solid 1px #dcdcdd;
    height : 56px;
    /* margin-top : -80px; */
    width: 100%;
     /* font-family: sans-serif,Montserrat, "Helvetica Neue", Helvetica, Arial; */
     font-family: source-han-sans-japanese,sans-serif,Montserrat, "Helvetica Neue", Helvetica, Arial;
}
.container.wrapper{ /* 공통사항 */
    height : 100%;
    position: relative;
}
.mypageNav .tab__eiditUser{
    height :100%;
    padding-top : 16px;
    padding-bottom : 16px;
    text-align : center;
    font-size : 16px;

    margin-left : 20px;
    width :  initial;
    padding-left: 20px;
    padding-right: 20px;
    /* border-bottom-width : 2px;
    border-bottom-color : #4379e8; */
    float: left;
    cursor : pointer;
}
.mypageNav .tab__eiditUser:hover,
.mypageNav .tab__eiditUser.active{
   border-bottom-style : solid;
   border-bottom-width : 2px;
   border-bottom-color : #305aaf;
   color :  #595959;
   /* font-weight: bold; */
   font-weight: 400;
}
.mypageNav .tab__eiditUser a:hover,
.mypageNav .tab__eiditUser a.active{
    text-decoration : none;
}


/* === mypageContent === */
#mypage{
     /* font-family: sans-serif,Montserrat, "Helvetica Neue", Helvetica, Arial; */
     font-family: source-han-sans-japanese,sans-serif,Montserrat, "Helvetica Neue", Helvetica, Arial;
    /* text-align : center; */
    /* display: block; */
    /* padding-top : 30px; */
}
.form-wrap{
    min-width : 660px;
    padding : 0px;
    padding-top : 58px;
    max-width : 400px;
    margin : 0 auto;
}

.required-info-group{
    border-top: 1px solid #757575;
    border-bottom: 1px solid #757575;
    margin-bottom: 40px;
}
.required-info-group > div{
    border-bottom: 1px solid #ddd;
    text-align: left;
    margin: 0px;
    padding: 0px;
}
.required-info-group > .row {
    position: relative;
    height: auto;
}
.row-title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f7f7f7;
    /* font-weight: bold; */
    font-weight: 400;
}
.row-title ~ div {
    left: 41.66666667%;
    right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.required-info-group > div > div:last-child{
    padding-left: 30px;
}
.required-info-group input[type=text],
.required-info-group input[type=email],
.required-info-group input[type=password]{
    height: 50px;
    border-radius: 0px;
}
.button-group{
    margin-bottom : 40px;
}
#mypage .button-group input[type=submit]{
    margin: 0 auto;
    background-color : #2793d1;
    color: #fff;
    /* font-weight: bold; */
    font-weight: 400;
    border-radius: 0px;
    border-color : #2793d1;
    max-width : 200px;
}



/* ========================= joinsuccessEmailAlam page ========================= */
.row#joinsuccessPage{
    margin-right : 0px;
    margin-left : 0px;
}
#joinsuccessPage{
    padding-top : 80px;
    padding-bottom : 50px;
     /* font-family: sans-serif,Montserrat, "Helvetica Neue", Helvetica, Arial; */
     font-family: source-han-sans-japanese,sans-serif,Montserrat, "Helvetica Neue", Helvetica, Arial;
}
#joinsuccessPage i{
    color : #2793d1;
    margin-bottom : 20px;
    display: block;
}
  
#joinsuccessPage .header{
    font-size : 36px;
    /* font-weight: bold; */
    font-weight: 400;
}
#joinsuccessPage .content{
    font-size : 23px;
}

/* ======================== 404page ========================= */

#notFoundPage{
     /* font-family: sans-serif,Montserrat, "Helvetica Neue", Helvetica, Arial; */
     font-family: source-han-sans-japanese,sans-serif,Montserrat, "Helvetica Neue", Helvetica, Arial;
    text-align: center;
}
#notFoundPage .panelWrap{
    margin: 0 auto;
   
    position: relative;
    text-align: center;
}
#notFoundPage .panelWrap img{
    margin: 0 auto;
    /* display: block; */
    /* max-width : 406px;
    max-height : 406px; */
    max-width: 100%; /* 이미지의 최대사이즈 */
    width /***/: auto; /* only IE8 */
    height: auto;
    vertical-align: bottom;
}
#notFoundPage .panelWrap span{
    display: block;
}
#notFoundPage .panelWrap span.title{
    position : absolute;
    top : 150px;
    left: 0; 
    right: 0; 
    /* margin-top : -250px; */
    margin-left: auto; 
    margin-right: auto;
    color: black;
    /* font-weight: bold; */
    font-weight: 400;
    font-size: 4em;

    max-width: 100%; /* 이미지의 최대사이즈 */
    width /***/: auto; /* only IE8 */
    height: auto;
    vertical-align: bottom;
}
#notFoundPage .panelWrap .content{
    position : absolute;
    top : 230px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    font-size: 2rem;
    /* font-weight: bold; */
    font-weight: 400;
}
#notFoundPage .panelWrap .content input[type=button]{
    margin: 20px auto;
    background-color :rgb(199, 155, 44);
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    /* font-weight: bold; */
    font-weight: 400;
    max-width : 200px;
    border-radius: 8px;
    border-color : rgb(199, 155, 44);
    padding : 5px;
}
#notFoundPage .panelWrap .content input[type=button]:hover{
    background-color : rgb(117, 91, 28);
    border-color : rgb(117, 91, 28);
    color: rgb(255, 255, 255);
}

@media (max-device-width : 480px){
    #notFoundPage .panelWrap span.title{
        top : 120px;
        font-size: 3.5em;
    }
}
@media (max-width :768px){
    #notFoundPage .panelWrap span.title{
        top : 130px;
        font-size: 3em;
    }
    #notFoundPage .panelWrap .content{
        top : 200px;
    }
}







/* ======================== admin ========================= */


.adminNav{
    list-style: none;
    padding :0px;
     /* font-family: sans-serif,Montserrat, "Helvetica Neue", Helvetica, Arial; */
     font-family: source-han-sans-japanese,sans-serif,Montserrat, "Helvetica Neue", Helvetica, Arial;
    margin-top : -80px;
    margin-right: 10px;
    margin-left : 0px;
    width: 15%;
    
}
.adminNav .panel-default {
    border : none;
}
.adminNav .panel-heading {
    font-size : 36px;
    background-color: #ffffff;
    text-align: center;
    border : none;
}
.adminNav .panel-body i {
    font-size : 20px;
    margin-right: 5px;
}
.adminNav .panel-body span {
    font-size : 15px;
}

.adminNav ul{
    list-style: none;
    padding :0px;
}
.adminNav ul li{
    margin: 5px;
    margin-bottom : 10px;
}
.adminNav, a {
    color: #1d1d1d;
    /* font-weight : bold; */
    /* list-style-type: none; */
}
.adminNav a:hover,
.adminNav a:active {
    color: #166fa3;
    font-weight : bold;
    text-decoration: none;
}
#admin button,
#admin.btn-primary{
    background-color : #166fa3;
    color: #ffffff;
    /* font-weight: bold; */
    border-radius: 0px;
    border-color : #2793d1;
    margin-right : 5px;
}
#admin button i{
    margin-right : 5px;
}

/* ========================= toolide ========================= */
#workspaceListPage{
    height: 100%;
   /* font-family: sans-serif,Montserrat, "Helvetica Neue", Helvetica, Arial; */
   font-family: source-han-sans-japanese,sans-serif,Montserrat, "Helvetica Neue", Helvetica, Arial;
    padding : 15px 30px 15px 30px;
    margin-bottom : 30px;
}

/* col-lg-9 */
#workspaceListPage .create{
    width : 351px;
    height : 314px;
    /* max-height: 314px;
    max-width : 351px; */
    text-align : center;
    margin : 15px;
    float : left;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    position : relative;
    background-color: #f2f3f6;
    padding : 20px;

}
#workspaceListPage .create .card-body .logo{
    padding : 20px;
    /* max-width: 100%; 
    width : auto; 
    height: auto;
    vertical-align: bottom; */
}

#workspaceListPage .create .card-footer a.button{
    background-color : #2793d1;
    color: #fff;
    /* font-weight: bold; */
    font-weight: 400;
    border-radius: 0px;
    padding: 12px 29px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 12px 2px;
    cursor: pointer;
}

#workspaceListPage .create .card-footer a.button:hover{
    background-color : #1a73a3;
}


/* 생성된 워크스페이스 영역 */
#vm-panel_new {
	--lightblue: #71b4f2;
	--black3: #333333;
	--black6: #666666;
	--black9: #999999;
	--border-color: #e7e7e7;
	--celestial-blue: #4089D6;
	
	--font-xs: 10px;
	--font-s: 12px;
	--font-m: 14px;
	--font-l: 16px;
	--font-xl: 18px;
    color: #333333;
	
	border-top: solid 1px #cecece;
	border-bottom: solid 1px #cecece;
    width : 351px;
    height : 314px;
	/* padding: 20px; */
	display: flex;
	display: -webkit-flex;
    flex-direction: column;
	background-color: #f3faff;
	margin: 15px;
    float: left;

    padding-right: 0px;
    padding-left : 0px;
}
#vm-panel_new .row {
	margin: 0;
}
#vm-panel_new .row > div {
	padding: 0;
}

#vm-panel_new #vm_header {
	display: flex;
	display: -webkit-flex;
    height: 43px;


}
#vm-panel_new #vm_header #vm_updated {
	flex: 1;
	-webkit-flex: 1;
	padding: 0 15px;
	line-height: 43px;
	font-size: 12px;
	
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#vm_updated i {
    font-size: 12px;
}
#vm_updated i + span {
	margin-left: 5px;
}

#vm-panel_new #vm_header #vm_moreview {
	border-left: solid 1px #d8d8d8;
	color: #333333;
	font-size: 12px;
	padding: 0 10px;
	line-height: 43px;
	/* font-weight: 300 !important; */
	font-weight: 300;
	
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	
    -webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

#vm-panel_new #vm_header #vm_moreview i {
    margin-right : 5px;
	font-size: 12px;
	line-height: 17px;
}
#vm-panel_new #vm_body {
	border-top: solid 1px #d8d8d8;
	flex: 1;
	-webkit-flex: 1;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	padding: 15px 20px 0;
}
#vm-panel_new #vm_body #vm_project_name {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	
	-webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin : 5px 0 20px 0;
    display: block;
}
#vm-panel_new #vm_body #vm_project_name .workspace_title{
    font-size: 18px;
    /* font-weight: bold; */
    font-weight: 400;
    display: block;
}
#vm-panel_new #vm_body #vm_project_name .workspace_name{
    font-size: 12px;
}
#vm-panel_new #vm_body .row {
	margin: 10px 0 0 0;
	padding-right: 8px;
}

#vm-panel_new #vm_body .row:last-child {
	margin-bottom: 10px;
}
#vm-panel_new #vm_body .vm_label {
	color: #666666;
	white-space: pre;
}
#vm-panel_new #vm_body .vm_content {
	text-align: right;
	/* font-weight: bold; */
    font-weight: 400;
	color: #333333;
}

#vm-panel_new #vm_body #on_switch{
	float: right;
	width: 66px;
	height: 20px;
	background-color: #e1e1e1;
	border: solid 1px #d6d6d6;
	padding: 1px;
	cursor: pointer;
}
#vm-panel_new #vm_body #on_switch.switch-on {
	background-color: #23dd7a;
	border: solid 1px #22cc71;
}
#vm-panel_new #vm_body #on_switch#vm_switch_off {
	float: left;
	width: 31px;
	height: 100%;
	background-color: #e1e1e1;
	color: #bbbbbb;
	font-size: 10px;
	text-align: center;
    padding: 1px;
}
#vm-panel_new #vm_body #on_switch#vm_switch_off.switch-on {
	background-color: white;
	color: white;
}
#vm-panel_new #vm_body #on_switch#vm_switch_on {
	float: left;
	width: 31px;
	height: 100%;
	background-color: white;
	color: white;
	font-size: 10px;
	text-align: center;
    padding: 1px;
}
#vm-panel_new #vm_body #on_switch#vm_switch_on.switch-on {
	background-color: #23dd7a;
}

#vm-panel_new #vm_footer {
	text-align: right;
	padding: 9px 15px 15px;
}

#vm_footer div {
	width: 100px;
	height: 36px;
	line-height: 34px;
	text-align: center;
	color: white;
	float: right;
	border: solid 1px #e7e7e7;
	cursor: pointer;
}

#vm_footer a {
	display: inline-block;
    text-decoration: none;
    width: 100px;
    height: 36px;
    text-align: center;
    color: white;
    /* float: right; */
    border: solid 1px #e7e7e7;
    cursor: pointer;
    line-height: 34px;
}
#vm_footer a:lang(ja) {
	font-size: 12px;
}

#vm-panel_new #vm_footer #vm_btn_run_terminal {
	background-color: #4994db;
	margin-left: 5px;
}
#vm-panel_new #vm_footer #vm_btn_run_terminal:hover {
	background-color: #7db2e5;
}
#vm-panel_new #vm_footer #vm_btn_run {
	background-color: #414a57;
}
#vm-panel_new #vm_footer #vm_btn_run:hover {
	background-color: #787e88;
}

@media (max-width :768px){
 
    #workspaceListPage .create{
        margin : 15px;
        width : 291px;
        height : 254px;
    }
    #workspaceListPage .create p{
        font-size: 12px;
    }
    #workspaceListPage .create .card-footer a.button{
        padding: 10px 10px;
        font-size: 12px;
        cursor: pointer;
    }
    #workspaceListPage .create .card-body .logo{
        padding : 0 20px 10px 20px;
        width: 55%;
        height: auto;
    }
    #vm-panel_new {
        width : 291px;
        height : 254px;
        padding : 0px;
    }
    #vm_updated i + span {
        margin-left: 5px;
    }
    #vm-panel_new #vm_body #vm_project_name{
        margin : 5px 0 13px 0;
    }

    #vm-panel_new #vm_body .row {
        font-size : 12px;
        margin : 5px 0 0 0;
    }
}




/* ========================= footer ========================= */
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    display: block;
    padding: 25px 0;
    margin-top: 50px;
    background-color: #353636;
    color: #a1a1a1;
    font-size: 12px;
    /* font-family: sans-serif,Montserrat, "Helvetica Neue", Helvetica, Arial; */
    font-family: source-han-sans-japanese,sans-serif,Montserrat, "Helvetica Neue", Helvetica, Arial;
    /* height: 150px; */
}
footer div{
    margin-top: 10px;
}
footer .footerlogo{
    width: 20%;
}
footer .footercontent{
    width: 80%;
    text-align: left;
}
footer span.copyright, footer ul.quicklinks {
	/* font-family: sans-serif,Montserrat, "Helvetica Neue", Helvetica, Arial; */
     font-family: source-han-sans-japanese,sans-serif,Montserrat, "Helvetica Neue", Helvetica, Arial;
}

/* footer mobile size */
@media (max-width :768px) and (max-device-width: 480px){
    footer {
        position: relative;
        height: auto;
        text-align: center;
        background-color : #353636;
    }
    footer div{
        margin-top: 0px;
    }
    footer .footerlogo{
        width: auto;
    }
    footer .footercontent{
        margin-top: 20px;
        width: auto;
        text-align: center;
    }
}



/* 
::-moz-selection {
	text-shadow: none;
	background: #fed136
}

::selection {
	text-shadow: none;
	background: #fed136
}

img::selection {
	background: 0 0
}

img::-moz-selection {
	background: 0 0
} */
