<% include ../header.ejs %>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
            회원가입 완료!<br>
            이메일 인증을 진행해주세요!
    </div>
</div>
<script type="text/javascript">


</script>
<% include ../footer.ejs %>