<% include ../header.ejs %>

<div class="container-fluid">
    <h2>포인트로 결제</h2>
        <span>01 상품리스트</span>&nbsp;>&nbsp;
        <span>02 포인트로 결제&nbsp;>&nbsp;</span>
        <span style="color:blue;">  03 상품구매 완료</span>
    <hr/><br/>

    <div class=row style="text-align: center;">
        <h1>상품 구매 완료 <small>감사합니다.</small></h1>
        
        <h3>남은 Point는 <b style="color:blue;">"<%=totalmoney %> Point"</b>입니다</h3>
    </div>
</div>


<% include ../footer.ejs %>