<% include ../header.ejs %>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <span id="content"></span>
    </div>
</div>
<script type="text/javascript">
(function(){  
    $(document).ready(function(){
        var value = "<%= language.joinSuccess%>";
        var str = value.replace(/&lt;/g, '<').replace(/&gt;/g, '>') ;
        $("#content").html(str);
    });

})();
</script>
<% include ../footer.ejs %>