<% include ../header.ejs %>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">비밀번호 찾기</h3>
                <br>
                <p>회원님의 이메일로 임시 비밀번호를 보내드립니다.</p>
            </div>
            <div class="panel-body">
                <form role="form" action="" id="reset_password_form" method="post" >
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" placeholder="가입하신 이메일 주소를 이곳에 입력하세요." name="userid" id="userid" type="email" autofocus=""  >
                            <span id="msg_userid"></span>
                        </div>                           
                        <br>
                        <br>
                        <input type="button" id="resend" class="btn btn-lg btn-default btn-block" value="임시 비밀번호 보내기">
                        <span id="message"></span>
                        <br>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>    

<script type="text/javascript">
(function resetPasswordMail(){   
    $(document).ready(function() {
        $('#resend').click(function(){
            var $useridInput = $('#reset_password_form input[name=userid]');
            var userid = $('#userid').val();
            var from, to, subject, text;                

            if(!$useridInput.val()){
                $("#msg_userid").html("이메일을 입력해주세요.").css("color","red");
                $useridInput.focus();
                return false;
            }    
            if(userid){
                $.ajax({
                    url: '/accounts/checkuserid/'+ userid.trim(), //trim 양쪽 공백이 있을시 제거
                    type: 'GET',
                })
                .done(function(args) {
                    if(args.userExist){ //아이디가 존재
                        to = userid;    
                        $("#message").text("Sending E-mail...Please wait");
		                $.get("http://localhost:3000/accounts/sendRandomPassword",{to:to},function(data){
                            if(data=="sent"){
                            $("#message").empty().html("<p>사용자의 메일로 임시비밀번호가 발급되었습니다!</p>");
                            console.log("인증 메일 전송 성공!");
                            }
		                });
                    }else{ //아이디가 존재하지 않음
                        $('#msg_userid').html("일치하는 이메일 아이디가 없습니다.").css("color", "red");
                    }
                })
                .fail(function(args) {
                    console.log(args);
                });
            }       
                                   
            // 검증완료시 action으로 넘어감
            return true;
        });      
    });
})();


</script>
<% include ../footer.ejs %>