<div class="col-sm-2">
    <div class="panel panel-default">
        <div class="panel-heading">메뉴</div>
        <div class="panel-body">
            <ul>
                <li><a href="/accounts/update/:id">회원정보수정</a></li>
                <li><a href="/promotion/mycode">프로모션 코드</a></li>
            </ul>
        </div>
    </div>
</div>