<% include ../header.ejs %>

<div id="pricing" class="container-fluid">
  <h2>사이버머니 결제</h2>
      
      <span>01 가격정책</span>&nbsp;>&nbsp;
      <span>02 결제&nbsp;>&nbsp;</span>
      <span style="color:blue;">03 결제완료</span>
      
  <hr/><br/>

        <h1>결제실패 <small>다시 결제해주세용</small></h1>
    </div>

<% include ../footer.ejs %>