<div class="col-sm-2">
    <div class="panel panel-default">
        <div class="panel-heading"><%= language.myPage_sideBar.menu%></div>
        <div class="panel-body">
            <ul>
                <li><a href="/accounts/update/:id"><%= language.myPage_sideBar.memberInfomation%></a></li>
                <!--<li><a href="/promotion/mycode">프로모션 코드</a></li>!-->
            </ul>
        </div>
    </div>
</div>