<% include ../header.ejs %>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
            워크스페이스 페이지에 접근하려면 관리자 권한이 필요합니다.<br>
            관리자에게 문의하세요!
    </div>
</div>
<script type="text/javascript">


</script>
<% include ../footer.ejs %>