<% include ../header.ejs %>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
            워크스페이스 페이지입니다.
    </div>
</div>
<script type="text/javascript">


</script>
<% include ../footer.ejs %>