<% include ../header.ejs %>
    <div class = "col-sm-10">
            <form action="" method="post" enctype="multipart/form-data" id="editForm">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
            <table class="table table-bordered">
                <tr>
                    <th>제목</th>
                    <td><input type="text" name="board_title" class="form-control" value="<%=board.board_title %>"/></td>
                </tr>
                <tr>
                    <th>이미지</th>
                    <td>
                        <input type="file" name="board_image" />
                        <% if(board.board_image){ %>
                        <a href="/buploads/<%=board.board_image%>" target="_blank">업로드 이미지 보기</a>
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <th>내용</th>
                    <td>
                    <textarea name="board_content" class="form-control" id="summernote"><%-board.board_content%></textarea>
                    </td>
                </tr>
            </table>
            <button class="btn btn-primary">작성하기</button>
        </form>
    </div>
    <!-- 스타일관련 -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/summernote.css" rel="stylesheet">
    <!-- 자바스크립트관련 -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/summernote.js"></script>
    <!-- 한글관련 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/lang/summernote-ko-KR.min.js"></script>

    <script>
    $(document).ready(function(){
        $('#summernote').summernote({
            lang: 'ko-KR',
		    height: 300,
            callbacks : {
                onImageUpload: function(files) {
                    sendFile(files[0]);
                }
            }
        });
        
        //summernote와 필드가 일치하므로 지워준다
        $('#editForm').submit(function(){
            $('input[name=files]').remove();
        });

        function sendFile(file, editor, welEditable) {
            data = new FormData();
            data.append("board_image", file);
            $.ajax({
                data: data,
                type: "POST",
                url: '/board/posts/ajax_summernote/',
                cache: false,
                contentType: false,
                processData: false,
                success: function(url) {
                    $('#summernote').summernote("insertImage", url);
                }
            });
        }
    });    
</script>
<% include ../footer.ejs %>